body {
  font-family: sans-serif;
  background-color: aqua;
}

h1 {
  text-align: center;
  text-decoration: underline;
}
h2 {
  text-align: center;
  font-style: italic;
  font-size: 20px;
}

#title {
  padding: 20px;
  margin: 20px;
  border: 5px solid black;
}

#duckOffImg {
  width: 200px;
}

#titleImage {
  border-radius: 5%;
  display: block;
  height: auto;
  margin: auto;
  width: auto;
}

.row {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pic {
  display: inline-block;
  padding: 5px;
}
